extends base
block content 
	div.col-sm-11.col-md-11.col-lg-11.stage
		h2 Stage 1: Buyer readiness
		br
	div.col-sm-11.col-md-11.col-lg-11.padding50
		div.col-sm-5.col-md-5.col-lg-5.bs
			h4 Buyer
			div.panel-group#accordion
				.panel.panel-default
					.panel-heading
						h4.panel-titleBuyer Buyer 1
								span.glyphicon.glyphicon-plus.paddingleft200
					.panel-collapse.collapse#collapseOne
						.panel-body
							| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
							| 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
							|  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on 
		div.col-sm-5.col-md-5.col-lg-5.bs.col-sm-offset-1.col-md-offset-1.col-lg-offset1
			h4 Seller
			div.panel-group#accordionSeller
				.panel.panel-default
					.panel-heading
						h4.panel-title Seller 1
							a(data-toggle="collapse" data-parent="#accordionSeller" href="#collapseOneSeller") 
								span.glyphicon.glyphicon-plus.paddingleft200
					.panel-collapse.collapse#collapseOneSeller
						.panel-body
							| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
							| 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
							|  eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on 
					.panel.panel-default
						.panel-heading
							h4.panel-title Seller 2
								a(data-toggle="collapse" data-parent="#accordionSeller" href="#collapseTwoSeller")
									span.glyphicon.glyphicon-plus.paddingleft200
						.panel-collapse.collapse#collapseTwoSeller
							.panel-body
								| Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 
								| 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum
								| eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on
					.panel.panel-default
						.panel-heading
							h4.panel-title Seller 3
								a(data-toggle="collapse" data-parent="#accordionSeller" href="#collapseThreeseller")
									span.glyphicon.glyphicon-plus.paddingleft200
	div.col-sm-8.col-md-8.col-lg-8.stage


