body
	font-family: 'Noto Sans', sans-serif;
.main
	margin-top 10
.paddingtop50
	padding-top	50px
.paddingleft200
	padding-left 200px
.stage
	border solid
	border-width 1px
	border-radius 5px
	margin-top 50px
.bs
	border solid
	border-width 1px
	border-radius 5px
	margin-top 50px